body {
    background-color: aquamarine;
}

button img {
    border-radius: 50%;
    width: 100px;
}

button {
    background-color: transparent;
    border: none;

}

table th {
    background-color: blueviolet;
    color: white;
}

table td {
    background-color: wheat;
}

#reset-img {
    height: 50px;
    width: 50px;
}

#buttons-container,
#game-summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
}